

<table border="1">
  <tr>
    <th>Student Name </th>
    <th> Class</th>
    <th>Age </th>
    <th>Edit</th>
    <th> Show</th>
    <th> Delete </th>
  </tr>

  <% @students.each do |i| %>
    <tr>
      <td><%= i.first_name %></td>
      <td><%= i.class_name %></td>
      <td><%= i.age %></td>
      <td> <a href="/students/<%=i.id%>/edit">Edit </a> </td>
          <td> <a href="/students/<%=i.id%>">show </a> </td>
          <td> <a href="/students/<%=i.id%>" data-method="delete">Delete </a> </td>

    </tr>
  <% end %>

</table>